/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c; 
}

.footer h1 {
    font-size: 4vw;
    font-weight: lighter;
    color: #2c2c2c;
    text-align: center;
}

.main-footer {
    background-color: #1d1c1c;
    color: #fff;
    padding: 2rem 0;
    font-family: "Absolut Sans 2021", sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}

.footer-info {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: #bbb;
}


.footer-social h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icon img {
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

.social-icon:hover img {
    transform: scale(1.15);
    opacity: 0.7;
}


/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }
}


/* Butoane footer — același efect ca în header */
.footer-link {
    display: inline-block;
    padding: 8px 14px;
    border: 2px solid transparent;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.25s ease;
}

.footer-link:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
    transform: scale(1.07);
}
