/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Absolut Headline Web 2021";
    background-color: var(--body-color);
    color: var(--label-color); 
   
}

/* IMAGINI */
/* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
 img {
    width: 100%;
    height: auto;
}

/* Sectiune hero: text stanga + poza dreapta */
.hero {
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    padding: 8% 50px 50px;
    gap: 40px;
}

/* Text stanga */
.hero-content {
    flex: 1;
}

/* Imagine dreapta */
.hero img {
    flex: 1;
    width: 50vw;
    height: 75vh;
    object-fit: cover;
    border: 3px; /*solid var(--h1-color); */
    border-radius: 5%;
    margin-top: 5vh;
    
}

/* Stiluri text */
.hero-content h1 {
    margin-bottom: 20px;
    color: var(--h1-color);
}

.hero-content label {
    font-size: 18px;
    line-height: 1.6;
}

/* FAQ SECTION */
 .faq-single {
    margin: 2em auto 3em auto;
    width: 80%;
    max-width: 600px;
    padding-left: 2em; 
}



.faq-item {
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffffd9;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.faq-question {
    width: 100%;
    background: #ffffff;
    color: var(--label-color);
    padding: 1rem 1.5rem;
    font-family: "Absolut Headline Web 2021";
    font-size: 1vw;
    line-height: 1.5;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.faq-question:hover {
    background: var(--secondary-color);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: #fff;
    padding: 0 1.5rem;
    transition: max-height 0.35s ease;
}

.faq-answer p {
    font-family: "Absolut Headline Web 2021";
    font-size: 1vw;
    line-height: 1.5;
    padding: 1rem 0;
    color: var(--label-color);
    
} 


/* ----- TABLETA ----- */
@media (max-width: 1024px) {
    .hero {
        padding: 20% 30px 40px;
        gap: 20px;
    }

    .hero-content h1 {
        font-size: 4vw;
    }

    .hero-content label {
        font-size: 1.6vw;
    }

    .hero img {
        height: 50vh;
    }
}

/* ----- TELEFON ----- */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 25% 20px 40px;
    }

    .hero img {
        width: 90%;
        height: auto;
        border-radius: 8px;
    }

    .hero-content h1 {
        font-size: 8vw;
    }

    .hero-content label {
        font-size: 4vw;
    }
}

/* ----- TELEFOANE MICI ----- */
@media (max-width: 480px) {
    .hero {
        padding-top: 30%;
    }

    .hero-content h1 {
        font-size: 9vw;
    }

    .hero-content label {
        font-size: 4.5vw;
    }
}
