/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Absolut Headline Web 2021";
    color: #fff;
    background-color: var(--body-color);
    /* gri închis */
}

:root {
    --header-height: 115px;
}

.hero {
    padding-top: calc(var(--header-height) + 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    /* Două background-uri */
    /* background-image: url('../assets/1.jpg'), url('../assets/2.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    background-size: 50% 100%, 50% 100%; */

    background-image: url('../assets/poza_acasa3.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

}

/* Linie verticală peste imagini */
/* .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6px; 
    height: 100%; 
    background-color: var(--primary-color); 
    z-index: 1;
} */

/* SECTIUNE CARTONASE */
.cards-section {
    position: relative;
    z-index: 1;
    padding: 10vh 20px 60px 20px;
}

.cards-container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem; 
    row-gap: 2.5rem;
}

.cards-container .card {
    text-decoration: none;
}

/* CARTONAS */
/* .card {
    background-color: var(--primary-color);
    border-radius: 16px;

    min-height: 4rem;
    padding: 35px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
} */

.card {
    background-color: transparent;
    box-shadow: none;                      
    padding: 35px 40px;  
    border-radius: 16px;
    min-height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

/* HIGHLIGHT HOVER */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 0 2px var(--secondary-color), 0 18px 40px rgba(0, 0, 0, 0.6);
}


.card h3 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    color: var(--primary-color);
}


/* TABLETE & TELEFOANE */
@media (max-width: 768px) {
    .hero img {
        max-width: 140px;
        margin-bottom: 30px;
    }



    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card {
        min-height: 160px;
        padding: 30px 20px;
    }

    .card h3 {
        font-size: 22px;
    }
}

/* TELEFOANE MICI */
@media (max-width: 480px) {
    .hero img {
        max-width: 110px;
        margin-bottom: 25px;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card {
        min-height: 130px;
        padding: 20px 15px;
    }

    .card h3 {
        font-size: 18px;
    }
}

/* INALTIME
@media (max-height: 700px) {
    .cards-section {
        padding-top: 5vh;
    }

    .hero {
        background-position: center top;
    }
} */
