/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Absolut Headline Web 2021";
    color: #fff;
    background-color: var(--body-color); /* gri închis */
}

/* IMAGINI */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECTIUNI */
section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Imagine cu overlay roz-gri pentru stil */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0%; /* muta imaginea in jos */
    /* filter: brightness(0.8); închid puțin imaginea */
}

.hero::after {
    content: "";
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.0) 0%,
        rgba(0,0,0,0.4) 70%
    );
    z-index: 1;
}

/* TEXT HERO */
.hero h1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 0 0 25px rgba(0,0,0,0.8);
    z-index: 2;

    width: 90%;            /* permite textului să se întindă pe orizontală */
    max-width: 1200px;     /* opțional, să nu fie prea lat */
    text-align: center;    /* păstrează textul centrat */
    white-space: normal;   /* permite trecerea pe linia următoare */

     /* Outline */
    -webkit-text-stroke: 1.5px #000; /* grosime + culoare contur */
}

.hero p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    color: white;
    font-size: 1.4vw;
    text-align: center;
    line-height: 1.5;
    text-shadow: 0 0 20px rgba(0,0,0,0.7);
    z-index: 2;
}
